.activities-link{
    
    display: inline-block;
    width: 20%;
    height: 100%;
    color: #ffffff61;
    padding:10px 20px;
    text-decoration: none;
    text-align: center;
    margin: 1rem;
    border-radius: 10px;

}

.activities-main{
    padding: 5rem;
    /* padding-top: 10px; */
}

.activities-qst-link{
    font-size:12px;
     display:inline-block;
     margin-right:150px;
     margin-top:10px;
    color:#ffffff82;
}

.activities-qst-link:hover{
    text-decoration: none;
    color:#cccccc82;
}

.activities-link:hover{
    background-color: #404251;
    border-radius: 10px;
    color: #06E6B1;
    text-decoration: none;
}

.activities-vote-bar{
    display: flex;
    background: #404251;
    height: 35px;
    border-radius: 0px 0px 16px 16px;
    padding:6px 20px;
}

.activities-qst-card{
    padding: 20px;
    transition: transform .3s;
}

.activities-qst-card:hover{
    transform: scale(1.2);
}

.act-qst-card-in{
    padding:18px;
    background-color: #2B2C3E;
    border-radius: 16px 16px;
}

img{
    margin-right: 0.5rem;
}

.menu-icon{
    /* display: inline-block; */
    float: right;
    width: 5%;
    color: #6f717e;
    background: url("https://img.icons8.com/color/48/000000/menu-2.png");
    background-size: cover;
}

.drop{
    border-radius: 10px;
}

.dropdown-toggle::after {
    content: none;
}
/* 
#menu-icon:hover{
    background-color: #404251;
    border-radius: 100%;
} */

.act-qst{
    /* display: inline-block; */
    float: left;
    width: 80%;
}

.activities-qst-name{
    font-size: 0.8rem;
    display: inline-flex;
    margin-top: 5px;
}